.main-info {
    position: relative;
    width: 600px;
    height: 220px;
    margin-top: 90px;
    margin-left: 106px;
    z-index: 2;

    &-title {
        font-size: 36px;
        font-weight: 700;
        position: relative;
        z-index: 3;
    }

    &-text {
        color: $text-dark;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        position: relative;
        z-index: 3;
    }
}
