.services {
    background-color: $white;
    padding: $spacing-lg 108px;
    display: flex;
    gap: 40px;

    &-content {
        flex: 2;
    }

    &-title {
        font-size: 36px;
        font-weight: 700;
        margin: 0 0 30px 0;
    }

    &-subtitle {
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0 16px 0;
    }

    &-text {
        font-size: 15px;
        line-height: 1.33;
        margin: 0 0 16px 0;
    }

    &-items {
        list-style: none;
        font-size: 30px;
        transform: translateX(-380px);
        margin-top: -1px;

        li {
            margin-bottom: 12px;
        }

        a {
            color: $text-dark;
            text-decoration: none;
            font-size: 15px;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $primary-color;
                text-decoration-thickness: 1.5px;
                text-underline-offset: 5px;
            }
        }

        img {
            margin-left: 10px;
        }
    }
}