$primary-color: #2D66EE;
$text-dark: #000000;
$text-light: #667085;
$background-light: #EBECEE;
$white: #FFFFFF;
$dark-bg: #101828;
$border-color: #D0D5DD;

$max-width: 1440px;
$header-height: 56px;
$border-radius: 12px;
$border-radius-lg: 10px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 40px;

$mobile: 425px;
$tablet: 768px;
