body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.menu {
    display: flex;
}

.pizza-selection {
    flex: 1;
}

.order-details {
    flex: 1;
    padding-left: 20px;
}

.pizza-images {
    display: flex;
    justify-content: space-around;
}

.pizza-item {
    text-align: center;
    cursor: pointer;
}

    .pizza-item.selected {
        background-color: #d3d3d3;
        border-radius: 8px;
    }

.pizza-image {
    width: 160px;
    height: auto;
}

.topping-images {
    display: flex;
    justify-content: space-around;
}

.topping-item {
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
}

    .topping-item.selected {
        background-color: #d3d3d3;
        border-radius: 8px;
    }

.topping-images img {
    width: 127px;
    height: auto;
}

button {
    background-color: #f59a29;
    font-size: 22px;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    width: 100%;
    display: block;
}

    button:hover {
        background-color: #d77d10;
    }

.size-selector {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

.size-option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

    .size-option input {
        display: none;
    }

    .size-option:hover {
        background-color: #e0e0e0;
    }

    .size-option.selected {
        background-color: #d2d2d2;
    }