@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head1 {
    font-size: 64px;
    color: #1F3F68;
}

.head2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.head3 {
    font-size: 36px;
    text-align: center;
}

.head4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}


.input-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;

    background: linear-gradient(90deg, #3382c7 0%, #a64dda 100%);
    border-radius: 12px;
    letter-spacing: 0.5px;
    border: none;
    padding: 10px 10px;
    min-width: 150px;
}

.form {
    background-image: url("../img/form.jfif");
    background-size: cover;
    border-radius: 15px;
    padding: 30px;
    max-width: 500px; 
    background-color: rgba(255, 255, 255, 0.35);
    background-blend-mode: overlay;
}

.label {
    color:#FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff 0%, #2c7b7b 100%);
    padding: 8px 0;
}

.nav a {
    position: relative;
    padding: 10px 0 10px 32px; 
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}

.nav a::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -16px;
    width: 64px;
    height: calc(100% + 16px);
    border-radius: 50%;
    background: transparent;
    border-right: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 
        3px 0 0 rgba(0, 0, 0, 0.5),
        4px 0 0 rgba(0, 0, 0, 0.3),
        5px 0 0 rgba(0, 0, 0, 0.25);
}